body {
    color: black;
    background-color: white;
    }
    
 
#left{
     top: 0px;
     left: 0px;
   width: 100px;
    height: 480px;
    background-color: #ffffff;
    position: absolute;
}

#middle{
    width: auto;
    height: auto
    background-color: #ff00ff;
    position: absolute;

}





#myCanvas_a{
    background-color: #ffffff;
 /*   border:0px;*/
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 0;
}

#myCanvas{
    background-color: #ffffff;
  /*  border:0px;*/
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 1;
}
#right{
   left: 740px;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 480px;
    background-color: #ffffff;
    position: absolute;
   /* display: block;*/
}

#bottom{
    left: 0px;
    top: 480px;
   
    width: 600px;
    height: 100px;
    
    margin-left: 100px;
    padding: 20px;
    background-color: #aaaaaa;
    position: absolute;
    
}

#btn_next{
    width: 100px;
    height: 100px;
    margin-top: 140px;
    background-color: #ffffff;
    background-image: url(icons/next.png);
    background-repeat:no-repeat;
    background-position:center;
    
 }
 #btn_back{
     width: 100px;
    height: 100px;
     margin-top: 140px;
    background-color: #ffffff;
    background-image: url(icons/prev.png);
    background-repeat:no-repeat;
    background-position:center; 
 }   
	